## Variables

In [1]:
h = 'Hello world'
print(h)

Hello world

In [2]:
n = 123.45
print(n)

123.45

In [3]:
empty = None
print(empty)

None

## Variables are case sensitive

In [4]:
cs = 'Variabe names are case sensitive'
print(cs)
print(Cs)

Variabe names are case sensitive

NameError: name 'Cs' is not defined

## You cannot use reserved words as variables in python

In [5]:
# python reserved words cannot be used for other things
class = 99
print(class)

# Instead use 
class1 = 99
print(class1)

SyntaxError: invalid syntax (138279671.py, line 2)

## Types are assigned to variables as well as values

In [ ]:
num1 = 123
num2 = 12.34
string1 = 'This is a string'
string2 = 'This is another string'
print(num1,'--->>',type(num1))
print(num2,'--->>',type(num2))
print(string1,'--->>',type(string1))
print(string2,'--->>',type(string2))

## Results of methods can instantiate object types as well

In [ ]:
from datetime import date, datetime

now1 = datetime.now()
print(now1, '--->>', type(now1))

In [ ]:

import re

namerev = "Denny Brent"
name = re.sub(r'^(.+)\s+(.+)$',r'\2 \1',namerev)
print(name, '--->>', type(name))

## Strings - all strings are UNICODE
- single quotes
- double quotes
- triple qoutes

In [ ]:
singlelinestr1 = 'This is a single line with single quotes'
singlelinestr2 = "This is a single line with double quotes"
multilinestr1  = '''This is a string that
can be placed on multiple 
lines'''
print(singlelinestr1)
print(singlelinestr2)
print(multilinestr1)

In [ ]:
practicaldbl = "This string doesn't get confused with the ' within the string"
print(practicaldbl)

In [ ]:
practicalsngl = 'When quoting what someone has said "We enclose it in double quotes"'
print(practicalsngl)

## quoting single characters with the \\ character

In [ ]:
quotesinglel = 'This string doesn\'t get confused with the \' within the string because it is quoted as a literal character'
print(quotesinglel)

## Sometimes we need the back slash in the string. 
- for example: if we are building a RegEx string
- two ways to achieve this
  - double back slash
  - raw string creation

In [ ]:
pattern1 = '^\\w+\\s+\\w+$'
print(pattern1)

In [ ]:
# typing r before the start of the string will create a raw string
pattern2 = r'^\w+\s+\w+$'
print(pattern2)

## Special characters can be added to the string using the \\

In [ ]:
# \U allows us to add a hex value for the unicode value of a character (notice that it is an uppercase U)

print('\U00000041')
print('\U00000042')
print('\U00000043')
print('\U00000044')
print('\U00000045')
print('\U00000046')
print('\U00000047')
print('\U00000048')
print('\U00000049')
print('\U0000004A')
print('\U0000004B')
print('\U0000004C')
print('\U0000004D')

In [ ]:
# \n is a newline special character
print('This\nis\nanother\nexample\nof\nspecial\ncharacters')

In [ ]:
# /t is a tab special char
print('Names')
print('First\tLast')
print('-----\t----')
print('Brent\tDenny')
print('Brian\tFerry')

## All of the special characters

|Code|Meaning|
|---|---| 
|\\\\ |backslash|
|\\' |single quote|
|\\" |double quote|
|\\a | BELL
|\\b | BACKSPACE
|\\f | FORMFEED
|\\n | newline
|\\N{name} |Unicode named code point
|\\r | carriage return
|\\t | TAB
|\\u | 16bit unicode
|\\U | 32bit unicode
|\\### |character with the octal ASCII value ###
|\\xhh |character with the octal ASCII value hh

## String operators and methods

In [ ]:
string1 = "This is a string 1234"
print(dir(string1))

In [ ]:
string1 = "This is a string 1234"
print(string1, '--->>', string1.upper())
print(string1, '--->>', string1.lower())
print(string1, '--->>', string1.count('i'))
print(string1, '--->>', string1.count('t'))
print(string1, '--->>', string1.lower().count('t'))
print(string1, '--->>', string1.split())
print(string1, '--->>', string1.endswith('1234'))
print(string1, '--->>', string1.swapcase())
print(string1, '--->>', string1.index('i'))
print(string1, '--->>', string1.find('z'))
print(string1, '--->>', string1.capitalize())
print(string1, '--->>', string1.title())

In [ ]:
string2 =  '1234'
print(string2, '--->>', string2.isdigit())

## unix tr equivalent

In [ ]:
string1 = "This is a string 1234"
trans = str.maketrans('i','u')
string1.translate(trans)

## Numeric types
- Boolean
- Integers
- Floats
- Complex numbers

In [ ]:
bool1 = True
bool2 = bool(1)
bool3 = bool(231)
bool4 = bool(0)
bool5 = False

print (bool1,bool2,bool3,bool4,bool5)

In [ ]:
val1 = 123
val2 = 123.44
int1 = val1
int2 = int(val2)
print(val1,'--->>',int1,'--->>',type(int1))
print(val2,'--->>',int2,'--->>',type(int2))

In [ ]:
float1 = 123.44
float2 = float(123)
int1 = 125
int2 = 53
int3 = 5
float3 = int1 / int2
float4 = int1 / int3
print('float1 =', float1)
print('float2 =', float2)
print('float3 =', float3)
print('float4 =', float4)

In [ ]:
from math import sqrt

complex1 = complex(25)
complex2 = 3 + 4j

print(complex1,complex2)

#### working with different base values

In [ ]:
oct1 = 0o12
hex1 = 0x12
bin1 = 0b1100

print(oct1, hex1, bin1)

## Math operators and functions

In [ ]:
a = 12
b = 5
c = 123.44
d = -34



print('+','--->>',a + b)
print('-','--->>',a - b)
print('*','--->>',a * b)
print('/','--->>',a / b)
print('//','--->>',a // b)
print('&','--->>',a % b)
print('neg','--->>',-a + b)
print('abs','--->>',a + abs(d))
print('divmod','--->>',divmod(a , b))
print('pow','--->>',pow(a , b))
print('**','--->>',a ** b)

## Typecasting and converting data structures

In [ ]:
print(int(123.45),type(int(123.45)))
print(float(123),type(float(123)))
print(str(123),type(str(123)))
print(bool(1),type(bool(1)))

## Data structures

In [ ]:
data1 = (1,2,3)
paired_data = (('dns',53),('smtp',25),('ssl',443))
print(data1, data1, type(data1))
print(data1, list(data1), type(list(data1)))
print(data1,set(data1) , type(set(data1)))
print(paired_data, dict(paired_data), type(dict(paired_data)))

## Writing to the screen

In [ ]:
h = 'Hello'
w = 'World'
print(h,w)
print('-----------')
print()
print(h,w,sep=':')
print('-----------')
print()
print(h,end='_') 
print(w)
print('-----------')
print()
print(h,w,sep='')
print('-----------')
print()

## String formats using .format

In [ ]:
proto,port = ('dns','53')

print('The name of the protocol is {0} and it\'s port number is {1}'.format(proto,port))

In [ ]:
proto,port = ('dns','53')

print('The name of the protocol is {0:<10s} and it\'s port number is {1:>5s}'.format(proto,port))

In [ ]:
name, age = ('bob',50)

print('Employee {0:^10s} is {1:>10.2f} years old today'.format(name,age))

In [ ]:
proto,port = ('dns','53')

print(f'The name of the protocol is {proto} and it\'s port number is {port}')

## Command line arguments

In [11]:
# for a fixed number of mandatory arguments 
def sentence(firstname, lastname):
  return f'hello {firstname} {lastname}'

print(sentence('Brent', 'Denny'))
# This next one will not work as it does not have all of the mandatory parameter values
# print(sentence('Brent'))

hello Brent Denny

In [5]:
# for a fixed number of mandatory arguments (naming them on the command line)
def sentence(firstname, lastname):
  return f'hello {firstname} {lastname}'

print(sentence('Denny', 'Brent')) # wrong order, positional parameters nedd to be typed in the correct order
print(sentence(lastname = 'Denny', firstname = 'Brent'))

hello Denny Brent
hello Brent Denny

In [4]:
# for an unknown number of parameters
def listfamily(*family):
  return f'These are my family members names: {family}'

print(listfamily('bob','bill','kate','rianne'))

These are my family members names: ('bob', 'bill', 'kate', 'rianne')

In [9]:
#Using keyword arguments
def information(**kwargs):
  keywords = kwargs.keys
  return kwargs

information(brent = 55, simon = 54)

{'brent': 55, 'simon': 54}

## Read from keyboard

In [10]:
input1 = input('Enter your name: ')
print(f'Hello {input1}')

Hello brent